<?xml version="1.0" encoding="utf-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.evan.login.mapper.UserMapper">

        <select id="findByName" parameterType="String" resultType="User">
        select * from user where username=#{username}
    </select>

    <select id="findById" parameterType="Integer" resultType="User">
        select * from user where id=#{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into user(username,password,mobile,email,gmt_create,gmt_modified)
        values(#{username},#{password},#{mobile},#{email},#{gmtCreate},#{gmtModified})
    </insert>

    <update id="updateUser" parameterType="User" >
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="birthday!=null">birthday=#{birthday},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="isDeleted!=null">is_deleted=#{isDeleted},</if>
        </trim>
        WHERE user_id=#{userId} and is_deleted &lt;&gt; 1
    </update>

    <update id="deleteUser" parameterType="Integer">
        update user set is_deleted=1 where user_id=#{userId}
    </update>

    <select id="getUserList" resultType="UserMessage">
        select user_id,username,avatar,gender,birthday,mobile,email from user where is_deleted &lt;&gt; 1
    </select>
</mapper>
